* {
  box-sizing: border-box; }

.carousel-cell {
  width: 100%;
  height: 50vh;
  min-height: 250px;
  margin-right: 10px;
  background-size: cover;
  background-position: center; }
  .carousel-cell .container {
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .carousel-cell p {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 26px; }

i {
  position: absolute;
  transform: translate(50%, 50%);
  left: 95%;
  top: 0;
  color: black;
  cursor: pointer; }
  i:hover {
    color: grey; }

.flickity-page-dots {
  display: none; }

.view-cells {
  text-align: center; }
  .view-cells p, .view-cells a {
    font-family: 'Amatic SC', cursive;
    font-size: 26px;
    display: inline-flex; }
  .view-cells a {
    text-decoration: none;
    color: black;
    margin: 26px 10px; }
    .view-cells a:hover {
      color: grey; }

.progress-bar {
  height: 20px;
  width: 0;
  background: #333; }

#map {
  width: 100%;
  height: 400px;
  background-color: grey; }
